<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Counter Index</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Counter</h1>
        <p class="text-center">
            <% if(counter == 1) { %>
                <%=counter%> time
            <% } else { %>
                <%=counter%> times
            <% } %>


        </p>
        <p class="text-center"><a href="/addtwo" class="btn btn-primary">Add Two</a></p>
        <p class="text-center"><a href="/reset" class="btn btn-danger">Reset Counter</a></p>
    </div>
</body>
</html>